<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Unit_1</key>
	<dict>
		<key>class_1</key>
		<dict>
			<key>item2</key>
			<dict>
				<key>practice</key>
				<array>
					<dict>
						<key>Tag</key>
						<string>wordLine</string>
						<key>wordOne</key>
						<array>
							<string>A</string>
							<string>apple</string>
							<string>C</string>
							<string>banana</string>
						</array>
						<key>wordTow</key>
						<array>
							<string>A</string>
							<string>apple</string>
							<string>C</string>
							<string>banana</string>
						</array>
					</dict>
					<dict>
						<key>Tag</key>
						<string>PicLine</string>
						<key>wordOne</key>
						<array>
							<string>A</string>
							<string>B</string>
							<string>C</string>
							<string>D</string>
						</array>
						<key>wordTow</key>
						<array>
							<string>A</string>
							<string>B</string>
							<string>C</string>
							<string>D</string>
						</array>
					</dict>
					<dict>
						<key>Tag</key>
						<string>VoiceJudge</string>
						<key>voice</key>
						<array>
							<string>apple</string>
							<string>banana</string>
						</array>
						<key>imagePic</key>
						<string>apple</string>
					</dict>
					<dict>
						<key>Tag</key>
						<string>PicJudge</string>
						<key>words</key>
						<array>
							<string>apple</string>
							<string>banana</string>
							<string>pair</string>
							<string>shose</string>
							<string>claeff</string>
							<string>gppd</string>
						</array>
						<key>imagePic</key>
						<string>apple</string>
					</dict>
					<dict>
						<key>Tag</key>
						<string>wordLine</string>
						<key>wordOne</key>
						<array>
							<string>X</string>
							<string>D</string>
							<string>Z</string>
							<string>F</string>
						</array>
						<key>wordTow</key>
						<array>
							<string>X</string>
							<string>D</string>
							<string>Z</string>
							<string>F</string>
						</array>
					</dict>
				</array>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>4</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>practice</key>
				<array>
					<dict>
						<key>Tag</key>
						<string>wordLine</string>
						<key>wordOne</key>
						<array>
							<string>A</string>
							<string>apple</string>
							<string>C</string>
							<string>banana</string>
						</array>
						<key>wordTow</key>
						<array>
							<string>A</string>
							<string>apple</string>
							<string>C</string>
							<string>banana</string>
						</array>
					</dict>
					<dict>
						<key>Tag</key>
						<string>PicLine</string>
						<key>wordOne</key>
						<array>
							<string>A</string>
							<string>B</string>
							<string>C</string>
							<string>D</string>
						</array>
						<key>wordTow</key>
						<array>
							<string>A</string>
							<string>B</string>
							<string>C</string>
							<string>D</string>
						</array>
					</dict>
					<dict>
						<key>Tag</key>
						<string>VoiceJudge</string>
						<key>voice</key>
						<array>
							<string>apple</string>
							<string>banana</string>
						</array>
						<key>imagePic</key>
						<string>apple</string>
					</dict>
					<dict>
						<key>Tag</key>
						<string>PicJudge</string>
						<key>words</key>
						<array>
							<string>apple</string>
							<string>banana</string>
							<string>pair</string>
							<string>shose</string>
							<string>claeff</string>
							<string>gppd</string>
						</array>
						<key>imagePic</key>
						<string>apple</string>
					</dict>
					<dict>
						<key>Tag</key>
						<string>wordLine</string>
						<key>wordOne</key>
						<array>
							<string>X</string>
							<string>D</string>
							<string>Z</string>
							<string>F</string>
						</array>
						<key>wordTow</key>
						<array>
							<string>X</string>
							<string>D</string>
							<string>Z</string>
							<string>F</string>
						</array>
					</dict>
				</array>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>7</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>practice</key>
				<array>
					<dict>
						<key>Tag</key>
						<string>wordLine</string>
						<key>wordOne</key>
						<array>
							<string>A</string>
							<string>apple</string>
							<string>C</string>
							<string>banana</string>
						</array>
						<key>wordTow</key>
						<array>
							<string>A</string>
							<string>apple</string>
							<string>C</string>
							<string>banana</string>
						</array>
					</dict>
					<dict>
						<key>Tag</key>
						<string>PicLine</string>
						<key>wordOne</key>
						<array>
							<string>A</string>
							<string>B</string>
							<string>C</string>
							<string>D</string>
						</array>
						<key>wordTow</key>
						<array>
							<string>A</string>
							<string>B</string>
							<string>C</string>
							<string>D</string>
						</array>
					</dict>
					<dict>
						<key>Tag</key>
						<string>VoiceJudge</string>
						<key>voice</key>
						<array>
							<string>apple</string>
							<string>banana</string>
						</array>
						<key>imagePic</key>
						<string>apple</string>
					</dict>
					<dict>
						<key>Tag</key>
						<string>PicJudge</string>
						<key>words</key>
						<array>
							<string>apple</string>
							<string>banana</string>
							<string>pair</string>
							<string>shose</string>
							<string>claeff</string>
							<string>gppd</string>
						</array>
						<key>imagePic</key>
						<string>apple</string>
					</dict>
					<dict>
						<key>Tag</key>
						<string>wordLine</string>
						<key>wordOne</key>
						<array>
							<string>X</string>
							<string>D</string>
							<string>Z</string>
							<string>F</string>
						</array>
						<key>wordTow</key>
						<array>
							<string>X</string>
							<string>D</string>
							<string>Z</string>
							<string>F</string>
						</array>
					</dict>
				</array>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>8</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>practice</key>
				<array>
					<dict>
						<key>Tag</key>
						<string>wordLine</string>
						<key>wordOne</key>
						<array>
							<string>A</string>
							<string>apple</string>
							<string>C</string>
							<string>banana</string>
						</array>
						<key>wordTow</key>
						<array>
							<string>A</string>
							<string>apple</string>
							<string>C</string>
							<string>banana</string>
						</array>
					</dict>
					<dict>
						<key>Tag</key>
						<string>PicLine</string>
						<key>wordOne</key>
						<array>
							<string>A</string>
							<string>B</string>
							<string>C</string>
							<string>D</string>
						</array>
						<key>wordTow</key>
						<array>
							<string>A</string>
							<string>B</string>
							<string>C</string>
							<string>D</string>
						</array>
					</dict>
					<dict>
						<key>Tag</key>
						<string>VoiceJudge</string>
						<key>voice</key>
						<array>
							<string>apple</string>
							<string>banana</string>
						</array>
						<key>imagePic</key>
						<string>apple</string>
					</dict>
					<dict>
						<key>Tag</key>
						<string>PicJudge</string>
						<key>words</key>
						<array>
							<string>apple</string>
							<string>banana</string>
							<string>pair</string>
							<string>shose</string>
							<string>claeff</string>
							<string>gppd</string>
						</array>
						<key>imagePic</key>
						<string>apple</string>
					</dict>
					<dict>
						<key>Tag</key>
						<string>wordLine</string>
						<key>wordOne</key>
						<array>
							<string>X</string>
							<string>D</string>
							<string>Z</string>
							<string>F</string>
						</array>
						<key>wordTow</key>
						<array>
							<string>X</string>
							<string>D</string>
							<string>Z</string>
							<string>F</string>
						</array>
					</dict>
				</array>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>9</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>practice</key>
				<array>
					<dict>
						<key>Tag</key>
						<string>wordLine</string>
						<key>wordOne</key>
						<array>
							<string>A</string>
							<string>apple</string>
							<string>C</string>
							<string>banana</string>
						</array>
						<key>wordTow</key>
						<array>
							<string>A</string>
							<string>apple</string>
							<string>C</string>
							<string>banana</string>
						</array>
					</dict>
					<dict>
						<key>Tag</key>
						<string>PicLine</string>
						<key>wordOne</key>
						<array>
							<string>A</string>
							<string>B</string>
							<string>C</string>
							<string>D</string>
						</array>
						<key>wordTow</key>
						<array>
							<string>A</string>
							<string>B</string>
							<string>C</string>
							<string>D</string>
						</array>
					</dict>
					<dict>
						<key>Tag</key>
						<string>VoiceJudge</string>
						<key>voice</key>
						<array>
							<string>apple</string>
							<string>banana</string>
						</array>
						<key>imagePic</key>
						<string>apple</string>
					</dict>
					<dict>
						<key>Tag</key>
						<string>PicJudge</string>
						<key>words</key>
						<array>
							<string>apple</string>
							<string>banana</string>
							<string>pair</string>
							<string>shose</string>
							<string>claeff</string>
							<string>gppd</string>
						</array>
						<key>imagePic</key>
						<string>apple</string>
					</dict>
					<dict>
						<key>Tag</key>
						<string>wordLine</string>
						<key>wordOne</key>
						<array>
							<string>X</string>
							<string>D</string>
							<string>Z</string>
							<string>F</string>
						</array>
						<key>wordTow</key>
						<array>
							<string>X</string>
							<string>D</string>
							<string>Z</string>
							<string>F</string>
						</array>
					</dict>
				</array>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>10</string>
			</dict>
		</dict>
		<key>class_2</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
		<key>class_3</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
		<key>class_4</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
		<key>class_5</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
		<key>class_6</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
	</dict>
	<key>Unit_2</key>
	<dict>
		<key>class_1</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习7</string>
				<key>item2</key>
				<string>2</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>4</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>7</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>8</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>9</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>10</string>
			</dict>
		</dict>
		<key>class_2</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
		<key>class_3</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
		<key>class_4</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
		<key>class_5</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
		<key>class_7</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
	</dict>
	<key>Unit_3</key>
	<dict>
		<key>class_1</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习8</string>
				<key>item2</key>
				<string>2</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>4</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>7</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>8</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>9</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>10</string>
			</dict>
		</dict>
		<key>class_2</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
		<key>class_3</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
		<key>class_4</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
		<key>class_5</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
		<key>class_8</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
	</dict>
	<key>Unit_4</key>
	<dict>
		<key>class_1</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>2</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>4</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>7</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>8</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>9</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>10</string>
			</dict>
		</dict>
		<key>class_2</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
		<key>class_3</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
		<key>class_4</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
		<key>class_5</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
		<key>class_9</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
	</dict>
	<key>Unit_5</key>
	<dict>
		<key>class_1</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>2</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>4</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>7</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>8</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>9</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>10</string>
			</dict>
		</dict>
		<key>class_2</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
		<key>class_3</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
		<key>class_4</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
		<key>class_5</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
		<key>class_10</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
	</dict>
	<key>Unit_6</key>
	<dict>
		<key>class_1</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>2</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>4</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>7</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>8</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>9</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>10</string>
			</dict>
		</dict>
		<key>class_2</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
		<key>class_3</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
		<key>class_4</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
		<key>class_5</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
		<key>class_11</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
	</dict>
	<key>Unit_7</key>
	<dict>
		<key>class_1</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>2</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>4</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>7</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>8</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>9</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>10</string>
			</dict>
		</dict>
		<key>class_2</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
		<key>class_3</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
		<key>class_4</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
		<key>class_5</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
		<key>class_12</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
	</dict>
	<key>Unit_8</key>
	<dict>
		<key>class_1</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>2</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>4</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>7</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>8</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>9</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>10</string>
			</dict>
		</dict>
		<key>class_2</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
		<key>class_3</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
		<key>class_4</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
		<key>class_5</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
		<key>class_13</key>
		<dict>
			<key>item1</key>
			<dict>
				<key>item1</key>
				<string>练习1</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item2</key>
			<dict>
				<key>item1</key>
				<string>练习2</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item3</key>
			<dict>
				<key>item1</key>
				<string>练习3</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item4</key>
			<dict>
				<key>item1</key>
				<string>练习4</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item5</key>
			<dict>
				<key>item1</key>
				<string>练习5</string>
				<key>item2</key>
				<string>3</string>
			</dict>
			<key>item6</key>
			<dict>
				<key>item1</key>
				<string>练习6</string>
				<key>item2</key>
				<string>3</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
