<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Tag</key>
		<string>wordLine</string>
		<key>wordOne</key>
		<array>
			<string>apple</string>
			<string>apple</string>
			<string>banana</string>
			<string>banana</string>
		</array>
		<key>wordTow</key>
		<array>
			<string>pari</string>
			<string>pari</string>
			<string>shose</string>
			<string>shose</string>
		</array>
	</dict>
	<dict>
		<key>Tag</key>
		<string>PicLine</string>
		<key>wordOne</key>
		<array>
			<string>apple</string>
			<string>apple.png</string>
			<string>banana</string>
			<string>banana.png</string>
		</array>
		<key>wordTow</key>
		<array>
			<string>pari</string>
			<string>pari.png</string>
			<string>shose</string>
			<string>shose.png</string>
		</array>
	</dict>
	<dict>
		<key>Tag</key>
		<string>VoiceJudge</string>
		<key>voice</key>
		<array>
			<string>apple.mp3</string>
			<string>banana.mp3</string>
		</array>
		<key>imagePic</key>
		<string>apple.png</string>
	</dict>
	<dict>
		<key>Tag</key>
		<string>PicJudge</string>
		<key>words</key>
		<array>
			<string>apple</string>
			<string>banana</string>
			<string>pair</string>
			<string>shose</string>
			<string>claeff</string>
		</array>
		<key>imagePic</key>
		<string>apple.png</string>
	</dict>
	<dict>
		<key>Tag</key>
		<string>wordLine</string>
		<key>wordOne</key>
		<array>
			<string>apple</string>
			<string>apple</string>
			<string>banana</string>
			<string>banana</string>
		</array>
		<key>wordTow</key>
		<array>
			<string>pari</string>
			<string>pari</string>
			<string>shose</string>
			<string>shose</string>
		</array>
	</dict>
</array>
</plist>
